[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
